.modal-body .text-box {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 25px;
    box-shadow: none;
    padding: 0 0 15px;
    border-bottom: rgba(144, 150, 160, 0.5) solid 2px;
}
