<div class="eng-loading-box" ng-show="$ctrl.loading && $ctrl.steps.isLast($ctrl.step)">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>

<button type="submit" class="btn btn-primary dark-blue-btn" ng-click="$ctrl.changeStep($ctrl.step+1)"
        ng-if="$ctrl.steps.getSteps().length >= 1"
        ng-show="!$ctrl.steps.isLast($ctrl.step)" translate>Next Step:</button>

<button type="submit" class="btn btn-primary" ng-click="$ctrl.changeStep($ctrl.step+1)"
        ng-if="$ctrl.steps.getSteps().length >= 1"
        ng-show="!$ctrl.steps.isLast($ctrl.step)">
    {{$ctrl.step+2}}. {{$ctrl.steps.getStep($ctrl.step+1).name}}
</button>

<span ng-if="$ctrl.saveAlertLeft == true" ng-show="!$ctrl.loading && $ctrl.dirty && $ctrl.steps.isLast($ctrl.step)" class="document-changes-info document-dirty-warning-right" translate>You must save document to perform actions</span>

<!--Always show save button-->
<action-button ng-show="$ctrl.dirty == true && !$ctrl.loading && $ctrl.steps.isLast($ctrl.step)"
               on-click="$ctrl.actionList.callSave()" label="{{$ctrl.actionList.getSaveAction().label}}"></action-button>

<!--Validate should be visible only on pristine document-->
<action-button ng-show="$ctrl.dirty == false && !$ctrl.loading && $ctrl.actionList.getSaveAction()!=null && $ctrl.showValidationButton && $ctrl.steps.isLast($ctrl.step)"
               on-click="$ctrl.validate()" label="Validate"></action-button>

<!--Show all engine actions-->
<action-button ng-repeat="action in $ctrl.actionList.actions" ng-show="$ctrl.dirty == false && !$ctrl.loading && $ctrl.steps.isLast($ctrl.step)"
               on-click="action.call()" label="{{action.label}}"></action-button>

<!--Show custom user actions-->
<action-button ng-repeat="button in $ctrl.customButtons" ng-show="!$ctrl.loading && $ctrl.steps.isLast($ctrl.step)"
               on-click="button.action()" label="{{button.label}}"></action-button>


<span ng-if="$ctrl.saveAlertLeft == false" ng-show="!$ctrl.loading && $ctrl.dirty && $ctrl.steps.isLast($ctrl.step)" class="document-changes-info document-dirty-warning-left" translate>You must save document to perform actions</span>