<button type="submit" class="btn btn-primary dark-blue-btn" ng-click="$ctrl.changeStep($ctrl.step+1)" ng-if="$ctrl.step < $ctrl.steps.length - 1">Next Step:</button>
<button type="submit" class="btn btn-primary" ng-click="$ctrl.changeStep($ctrl.step+1)" ng-if="$ctrl.step < $ctrl.steps.length - 1">{{$ctrl.step+2}}. {{$ctrl.steps[$ctrl.step+1].name}}</button>

<button type="submit" ng-repeat="action in $ctrl.actions" ng-if="!$ctrl.steps || $ctrl.step == $ctrl.steps.length - 1" style="margin-left: 5px"
        class="btn btn-default" ng-click="$ctrl.engineAction(action)">{{action.label}}</button>