<button type="submit" class="btn btn-primary dark-blue-btn" ng-click="$ctrl.changeStep($ctrl.step+1)" ng-if="!$ctrl.steps.isLast($ctrl.step)" translate>Next Step:</button>
<button type="submit" class="btn btn-primary" ng-click="$ctrl.changeStep($ctrl.step+1)" ng-if="!$ctrl.steps.isLast($ctrl.step)">{{$ctrl.step+2}}. {{$ctrl.steps.getStep($ctrl.step).name}}</button>

<button type="submit" ng-if="$ctrl.showValidationButton && $ctrl.steps.isLast($ctrl.step)"
        class="btn btn-default" ng-click="$ctrl.validate()" translate>Validate</button>

<button type="submit" ng-repeat="action in $ctrl.actionList.actions" ng-if="$ctrl.steps.isLast($ctrl.step)" style="margin-left: 5px"
        class="btn btn-default" ng-click="action.call()" translate>{{action.label}}</button>