.row-compensate {
    margin-right: 0px;
    margin-left: 0px;
}
.datepicker {
    width:150px !important;
}

.modal-body .text-box {
    background-color: transparent;
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    padding: 0px;
}

.eng-loading-box {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.eng-loading-box i {
    font-size: 20px;
}