.row-compensate {
    margin-right: 0px;
    margin-left: 0px;
}
.datepicker {
    width:150px !important;
}

.modal-body .text-box {
    background-color: transparent;
    border-radius: 0px;
    margin-bottom: 25px;
    box-shadow: none;
    padding: 0px 0px 15px 0px;
    border-bottom: rgba(144, 150, 160, 0.5) solid 2px;
}

.eng-loading-box {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.eng-loading-box i {
    font-size: 20px;
}

.id {
    font-family: monospace;
    font-size: 12px;
}


/* multi select with images */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 80px;
    line-height:20px;
}
.alert span{
    width: 80%;
    display: inline-block;
    line-height: 14px;}

.alert-default {
    color: #484a50;
    background-color: #ffffff;
    border-color: #bfc4da;
}

.alert-proposal{
    font-size: 1.063em;
    padding: 25px;
    padding-left: 90px;
    font-family: 'ek_muktabold';
    text-transform: uppercase;
    cursor: pointer;
}
.alert-proposal .fa{
    font-size: 1.5em;
    float: right;
}
.alert-default .fa{
    color: #bfc4da;}

.alert-proposal.alert-success, .alert-proposal.alert-success .fa{
    color: #75ad40;
    background-color: #ffffff;
    border-color: #75ad40;}

.cog-dropdown .dropdown{
    position: relative;
}
.cog-dropdown .dropdown-menu{
    position: absolute;
    left: -130px;
}
