<div>
    <div class="row">
        <div class="col-md-12">
            <h1>
                <span ng-if="!document.id" translate>{{ options.document.caption || 'CREATE ' + options.name }}</span>
                <span ng-if="document.id" ><span translate>{{options.name}}</span>{{engineResolve(document, options.document.titleSrc)}}</span>

                <span class="bold" ng-if="stepList.getSteps().length > 0">{{stepList.getStep($routeParams.step).name | translate}} {{$routeParams.step + 1}}/{{stepList.getSteps().length}}</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <engine-document step-list="stepList" show-validation-button="options.document.showValidationButton" processing="processing"
                         document-id="{{::documentId}}" document="document" step="$routeParams.step" options="options"
                         ng-class="{'col-sm-8': !responsive, 'col-xs-8': !responsive, 'col-sm-12': responsive, 'col-xs-12': responsive}"
                         class="col-lg-8 col-md-8 engine-document" actions="actions" dirty="documentDirty"></engine-document>
        <div class="col-lg-4 col-md-4 sidebar-document"
             ng-class="{'hidden-sm': responsive, 'hidden-xs': responsive, 'col-sm-4': !responsive, 'col-xs-4': !responsive}">
            <div fixed-on-scroll="fixed-sidebar-on-scroll">
            <sidebar-addon ng-repeat="addon in options.document.sidebarAddons | filter: { position: 'top' } | filter: conditionFulfilled" caption="{{::addon.caption}}" tag="{{::addon.component}}" document="document" ctx="addon.ctx"></sidebar-addon>
            <engine-steps ng-model="document" processing="processing" step="$routeParams.step" step-list="stepList" options="options"></engine-steps>
            <sidebar-addon ng-repeat="addon in options.document.sidebarAddons | filter: { position: 'middle' } | filter: conditionFulfilled" caption="{{::addon.caption}}" tag="{{::addon.component}}" document="document" ctx="addon.ctx"></sidebar-addon>
            <engine-document-details ng-model="document" options="options" actions="actions" dirty="documentDirty"></engine-document-details>
            <sidebar-addon ng-repeat="addon in options.document.sidebarAddons | filter: { position: 'bottom' } | filter: conditionFulfilled" caption="{{::addon.caption}}" tag="{{::addon.component}}" document="document" ctx="addon.ctx"></sidebar-addon>
            </div>
        </div>

        <div class="document-navi-toggle hidden-md-up" ng-click="toggleSideMenu()" ng-if="responsive" ng-class="{active: sideMenuVisible}">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            </div>
            <div class="sidebar-document-rwd" ng-show="sideMenuVisible" ng-if="responsive">
            <sidebar-addon ng-repeat="addon in options.document.sidebarAddons | filter: { position: 'top' } | filter: conditionFulfilled" caption="{{::addon.caption}}" tag="{{::addon.component}}" document="document" ctx="addon.ctx"></sidebar-addon>
            <engine-steps class="sidebar-box-shadow" ng-model="document" step="$routeParams.step" step-list="stepList" options="options"></engine-steps>
            <sidebar-addon ng-repeat="addon in options.document.sidebarAddons | filter: { position: 'middle' } | filter: conditionFulfilled" caption="{{::addon.caption}}" tag="{{::addon.component}}" document="document" ctx="addon.ctx"></sidebar-addon>
            <engine-document-details class="sidebar-box-shadow" ng-model="document" options="options" actions="actions" dirty="documentDirty"></engine-document-details>
            <sidebar-addon ng-repeat="addon in options.document.sidebarAddons | filter: { position: 'bottom' } | filter: conditionFulfilled" caption="{{::addon.caption}}" tag="{{::addon.component}}" document="document" ctx="addon.ctx"></sidebar-addon>
            </div>

        </div>
</div>