<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4 ng-if="!documentId" class="modal-title" id="myModalLabel" translate>{{ documentOptions.document.caption || 'CREATE ' + documentOptions.name }}</h4>
    <h4 ng-if="documentId" ><span translate>{{documentOptions.name}}</span> {{engineResolve(document, documentOptions.document.titleSrc)}}</h4>

</div>
<div class="modal-body">
    <div class="container-fluid">
        <engine-document parent-document="parentDocument" dirty="documentDirty"
                         document-scope="documentScope" step-list="stepList"
                         document="document" document-id="{{documentId}}"
                         step="step" options="documentOptions">
        </engine-document>
    </div>
</div>
<div class="modal-footer">
    <engine-document-actions show-validation-button="documentOptions.document.showValidationButton" custom-buttons="customButtons"
                             options="documentOptions"
                             document="document" document-scope="documentScope" document-parent="parentDocument" dirty="documentDirty"
                             steps="stepList" step="step" class="btn-group float-right" save-alert-left="true">
    </engine-document-actions>
</div>