<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">CREATE {{options.name}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <engine-document ng-model="document" options="documentOptions"></engine-document>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">Anuluj</button>
    <button type="submit" ng-repeat="action in actions" style="margin-left: 5px" class="btn btn-default" ng-click="engineAction(action.id, document)">{{action.label}}</button>
</div>