<div>
    <div class="row">
        <div class="col-md-12">
            <h1>
                <span ng-if="!document.id" translate>{{ options.document.caption || 'CREATE ' + options.name }}</span>
                <span ng-if="document.id" ><span translate>{{options.name}}</span>{{engineResolve(document, options.document.titleSrc)}}</span>

                <span class="bold" ng-if="stepList.getSteps().length > 0">{{stepList.getStep($routeParams.step).name | translate}} {{$routeParams.step + 1}}/{{stepList.getSteps().length}}</span>
            </h1>
        </div>
    </div>
    <div class="row" >
        <engine-document step-list="stepList" show-validation-button="options.document.showValidationButton" processing="processing"
                         document-id="{{::documentId}}" document="document" step="$routeParams.step" options="options"
                         class="col-lg-8 col-md-8 col-sm-12 engine-document" actions="actions" dirty="documentDirty"></engine-document>
        <div  class="col-lg-4 col-md-link4 hidden-sm sidebar-document" >
            <div fixed-on-scroll="fixed-sidebar-on-scroll">
                <engine-steps ng-model="document" processing="processing" step="$routeParams.step" step-list="stepList" options="options"></engine-steps>
                <engine-document-details ng-model="document" options="options" actions="actions" dirty="documentDirty"></engine-document-details>
            </div>
        </div>
    </div>

    <div class="document-navi-toggle" ng-click="toggleSideMenu()" ng-class="{active: sideMenuVisible}">
        <i class="fa fa-file-text" aria-hidden="true"></i>
    </div>
    <div class="sidebar-document-rwd" ng-show="sideMenuVisible" >
        <engine-steps class="sidebar-box-shadow" ng-model="document" step="$routeParams.step" step-list="stepList" options="options"></engine-steps>
        <engine-document-details class="sidebar-box-shadow"  ng-model="document" options="options" actions="actions" dirty="documentDirty"></engine-document-details>
    </div>

</div>