<div>
    <formly-form model="document" fields="documentFields">
        <div class="text-left">
            <button type="submit" ng-if="step < steps.length && step >= 1" style="margin-left: 5px" class="btn btn-default" ng-click="changeStep(step-1)">{{steps[step-1].name}}</button>
            <button type="submit" ng-if="step < steps.length-1" style="margin-left: 5px" class="btn btn-default" ng-click="changeStep(step+1)">{{steps[step+1].name}}</button>
            <button type="submit" ng-repeat="action in actions" ng-if="step == steps.length - 1" style="margin-left: 5px" class="btn btn-default" ng-click="engineAction(action.id, document)">{{action.label}}</button>
        </div>
    </formly-form>
</div>