<div  scroll-rwd  is-visible="{{$ctrl.isVisible()}}" class="text-box sidebar-details">
    <div class="text-content" ng-clock>
        <h3 style="margin-top: 0" translate>{{$ctrl.options.document.details.caption || $ctrl.options.name}}</h3>

        <span ng-show="$ctrl.dirty || $ctrl.ngModel.id == null" class="document-changes-info document-dirty" translate>Document has unsaved changes</span>
        <span ng-show="!$ctrl.dirty && $ctrl.ngModel.id != null" class="document-changes-info document-pristine" translate>All changes have been saved</span>

        <ul class="list-group">
            <li ng-repeat="entry in $ctrl.options.document.details.entries | conditionFulfiled : $ctrl.ngModel" class="list-group-item">
                <span translate>{{entry.caption || entry.name}}</span>
                <span translate>{{$ctrl.formatEntry(entry) || 'Not specified yet' | numberFormat}}</span>
            </li>
        </ul>

        <action-button style="width: 100%" btn-class="btn-primary full-width" ng-if="$ctrl.actions.getSaveAction() != null"
                       on-click="$ctrl.saveDocument()"
                       label="{{$ctrl.options.document.details.saveCaption || 'Save' }}">
        </action-button>

    </div>
</div>