<div class="text-box sidebar-details">
    <div class="text-content" ng-clock>
        <h3 style="margin-top: 0px">{{$ctrl.options.document.details.caption || $ctrl.options.name}}</h3>

        <ul class="list-group">
            <li ng-repeat="entry in $ctrl.options.document.details.entries" class="list-group-item">
                <span translate>{{entry.caption || entry.name}}</span>
                <span translate>{{$ctrl.$parse(entry.name)($ctrl.ngModel) || 'Not specified yet'}}</span>
            </li>
        </ul>
        <button style="width: 100%" type="submit" class="btn btn-primary" ng-if="$ctrl.actions.getSaveAction() != null"
                ng-click="$ctrl.saveDocument()">
            <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-show="$ctrl.savePromise.$$state.status === 0"></i>
            <span translate>{{$ctrl.options.document.details.saveCaption || 'Save' }}</span>
        </button>
    </div>
</div>