<div>
    <span ng-if="error" class="error-text">{{error}}</span>
    <!--ng-model="model[options.key]"-->
    <!--<input type="text" ng-model="username"><br/><br/>-->
    <!--watching model:-->
    <table>
        <tr>
            <th translate>Filename</th>
            <th>Size</th>
            <th class="attachment-actions">Actions</th>
        </tr>
        <tr ng-if="model[options.key]">
            <td><a href="{{attachment.getDownloadLink()}}">{{ attachment.data.fileName }}</a></td>
            <td>{{ getAttachmentSize() }}kB</td>
            <td class="attachment-actions">
                <a href="" class="" ng-click="delete()"><span class="fa fa-trash-o"></span></a>
            </td>
        </tr>

    </table>

    <button type="file" class="btn btn-primary btn-file" ngf-select="upload($file)" ng-disabled="status != STATUS.normal"
            ngf-multiple="false" ng-show="model[options.key] == null">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        <span ng-if="status == STATUS.uploading">{{ 'Uploading' | translate}} {{progress}}%</span>
        <span ng-if="status == STATUS.normal">{{ (attachment.label || 'Select File') | translate}}</span>
        <span ng-if="status == STATUS.disabled">{{ 'You must save document first' | translate}}</span>
    </button>
</div>