<p class="input-group input-group-datepicker">
    <input id="{{::id}}"
           name="{{::id}}"
           ng-model="model[options.key]"
           class="form-control datepicker"
           type="text"
           uib-datepicker-popup="{{to.datepickerOptions.format || 'yyyy-MM-dd'}}"
           is-open="openedDatePopUp"
           datepicker-popup-template-url="/src/formly/types/templates/overrides/datepickerPopup.tpl.html"
           ng-required="false"
           show-button-bar="false"
           datepicker-options="to.datepickerOptions"
           on-open-focus="false"
           placeholder="{{options.templateOptions.placeholder | translate}}"
           ng-click="openPopUp($event)"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openPopUp($event)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>