<div class="multiselect" ng-click="showHideOptions()">
    <div class="selectBox radio-box" ng-class="{'radio-box-last': $last, 'radio-box-first': $first, 'radio-box-active': model[options.key] == option.value}">

        <input type="text"  ng-model="search" >

    </div>
        <div id="checkboxes" >
           <label  ng-repeat="option in to.options | filter:search" >
               <input type="checkbox"  checklist-model="option.value" checklist-value ="option.name">
               {{ option.name }}
           </label>
        </div>

</div>


