<input ng-if="$ctrl.options.type === 'text' || $ctrl.options.type === 'link'"
       ng-change="$ctrl._ngChange($ctrl.formatText($ctrl._ngModel))"
       ng-model="$ctrl._ngModel"
       type="text"
       class="form-control input-sm eng-table-filter-header-input" />

<input ng-if="$ctrl.options.type === 'date'"
       ng-change="$ctrl._ngChange($ctrl.formatDate($ctrl._ngModel))"
       ng-model="$ctrl._ngModel"
       type="text"
       uib-datepicker-popup="dd-MM-yyyy"
       ng-model-options="{timezone: '+0000'}"
       datepicker-popup-template-url="/src/formly/types/templates/overrides/datepickerPopup.tpl.html"
       show-button-bar="false"
       on-open-focus="false"
       is-open="$ctrl.openedDatePopUp"
       ng-click="$ctrl.openedDatePopUp = !$ctrl.openedDatePopUp"
       class="form-control eng-table-filter-header-input datepicker" />

<select ng-if="$ctrl.options.type === 'choice'"
        class="form-control input-sm eng-table-filter-header-input"
        ng-change="$ctrl._ngChange($ctrl.formatChoice($ctrl._ngModel))"
        ng-model="$ctrl._ngModel"
        ng-options="op.id as op.caption | translate for op in $ctrl._choices">
</select>

